odrive==0.6.9.post0
pydantic==2.9.2
python-can==4.4.2
pynput==1.7.7
types-pynput==1.7.7.20240813
ruff==0.1.8
sparkfun-ublox-gps==1.1.5
pyserial==3.5
spidev==3.6
# originally had 2.0.2 but zed needs a downgrade
numpy==1.26.4
numba==0.60.0
rsplan==1.0.10
starlette==0.38.2
uvicorn==0.32.1
pyproj==3.7
pygnssutils==1.1.7
pytest==8.3.3
pytest-asyncio==0.24.0
PyGeodesy==24.11.11
scipy==1.13.1
PyOpenGL==3.1.7
adafruit-circuitpython-bno08x==1.2.7
Jetson.GPIO==2.1.6
opencv-python==4.10.0.84
# To handle the cv2 missing import error too
[mypy.plugins.numpy.*]
follow_imports = silent

[mypy-cv2.*]
ignore_missing_imports = True
