<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="http://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css" />
    <style>
        #zone_joystick {
            width: 100vw;  /* 100% of viewport width */
            height: 60vh; /* 60% of viewport height */
            margin: 0 auto;
            background-color: #f0f0f0;
            position: relative;
        }
        #coordinates {
            text-align: center;
            font-size: 1.5em;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Control Beachbot via RC</h1>
    <h3>Touch below to start to control the robot via a joystick.</h3>
    <div id="zone_joystick" style="float:left;width:100%;margin:0;padding:0;"></div>
    <div id="coordinates">X: 0, Y: 0</div> <!-- Display coordinates here -->

    <!-- Include NippleJS -->
    <script src="{{ url_for('static', filename='js/nipplejs.js') }}"></script>
    <script>
        // Initialize the joystick using NippleJS
        const joystickContainer = document.getElementById('zone_joystick');
        const coordinatesDisplay = document.getElementById('coordinates');

        const joystick = nipplejs.create({
            zone: joystickContainer,
            size: 200,
            color: 'blue',
        });
        // Listen for joystick move events and send data to Flask server
        joystick.on('move', (event, data) => {
            if (data && data.vector) {
                const x = data.vector.x.toFixed(2);
                const y = data.vector.y.toFixed(2);

                // Update the coordinates display
                coordinatesDisplay.textContent = `X: ${x}, Y: ${y}`;

                // Send the joystick data to the server
                fetch('/joystick_input', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ x: x, y: y, stop: false})
                }).then(response => response.json())
                  .then(data => console.log(data));
            }
        });
        // Send zeros on joystick release
        joystick.on('end', () => {
            fetch('/joystick_input', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ x: 0.0, y: 0.0, stop: true})
            }).then(response => response.json())
              .then(data => console.log("Joystick released:", data));

            // Update the coordinates display
            coordinatesDisplay.textContent = `X: 0.0, Y: 0.0`;

        });
    </script>
</body>
</html>
